Repository isaaccorley/torchseg, changes with the labels that .github/labeler.yml gives for each.
All labels: base, encoders, decoders, losses, dependencies, documentation, testing

add six requirement
  pyproject.toml
Labels: dependencies

add six requirement
  requirements/tests.txt
Labels: dependencies

update actions and reqs
  .github/workflows/release.yml
  .github/workflows/tests.yml
  pyproject.toml
Labels: dependencies, testing

update readme
  README.md
  assets/pretrained_weights.webp
Labels: documentation

add unet head upsampling param
  torchseg/decoders/unet/model.py
Labels: decoders

fix flake8
  torchseg/decoders/unet/model.py
Labels: decoders

update readme
  README.md
Labels: documentation

make output_stride optional, not all timm models support an output stride arg
  torchseg/decoders/unet/model.py
  torchseg/encoders/timm.py
Labels: encoders, decoders

add classes/ignore_index to focal and jaccard losses
  torchseg/losses/focal.py
  torchseg/losses/jaccard.py
Labels: losses

add tests
  tests/test_losses.py
Labels: testing

update project urls
  pyproject.toml
Labels: dependencies

overhaul of losses, starting from DiceLoss
  torchseg/losses/__init__.py
  torchseg/losses/_functional.py
  torchseg/losses/_utils.py
  torchseg/losses/constants.py
  torchseg/losses/dice.py
  torchseg/losses/reductions.py
Labels: losses

overhaul of losses, starting from DiceLoss
  torchseg/losses/dice.py
  torchseg/losses/reductions.py
Labels: losses

overhaul of losses, starting from DiceLoss
  torchseg/losses/dice.py
Labels: losses

update of jaccard loss
  torchseg/losses/_functional.py
  torchseg/losses/dice.py
  torchseg/losses/jaccard.py
Labels: losses

readme typo
  README.md
Labels: documentation

update github actions and adapt to ruff
  .flake8
  .github/dependabot.yml
  .github/workflows/labeler.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  pyproject.toml
  requirements/style.txt
Labels: dependencies, testing

make ruff check verbose
  .github/workflows/labeler.yml
  .github/workflows/style.yml
Labels: testing

increase upper bound of deps
  requirements/required.txt
Labels: dependencies

don't use ruff action
  .github/workflows/style.yml
  pyproject.toml
Labels: dependencies, testing

format
  torchseg/losses/lovasz.py
Labels: losses

add support for python 3.12 in tests
  .github/workflows/tests.yml
Labels: testing

fix dependabot ignoring torch/timm updates
  .github/dependabot.yml
Labels: none

update upper bounds of all deps
  requirements/required.txt
  requirements/style.txt
  requirements/tests.txt
Labels: dependencies

update upper bounds of all deps
  requirements/required.txt
  requirements/style.txt
  requirements/tests.txt
Labels: dependencies

format
  torchseg/decoders/manet/decoder.py
  torchseg/losses/lovasz.py
Labels: decoders, losses

test for python 3.12
  .github/workflows/tests.yml
  pyproject.toml
Labels: dependencies, testing

update ruff commands and settings
  .github/workflows/style.yml
  .gitignore
  README.md
  pyproject.toml
Labels: dependencies, documentation, testing

fix import sorting
  pyproject.toml
  tests/test_losses.py
  tests/test_models.py
Labels: dependencies, testing

update to auto fix when running ruff check
  .github/workflows/style.yml
  pyproject.toml
Labels: dependencies, testing

test that CI throws an error
  torchseg/decoders/fpn/decoder.py
Labels: decoders

try again
  .github/workflows/style.yml
Labels: testing

try without output format
  .github/workflows/style.yml
Labels: testing

fix
  torchseg/decoders/fpn/decoder.py
Labels: decoders

update min version of ruff
  pyproject.toml
Labels: dependencies

update
  .github/workflows/style.yml
  pyproject.toml
  requirements/style.txt
  tests/test_losses.py
  tests/test_models.py
Labels: dependencies, testing

add output-format=github
  .github/workflows/style.yml
Labels: testing

fixes per suggestions
  README.md
  pyproject.toml
Labels: dependencies, documentation

Ruff (#23)
  .flake8
  .github/workflows/style.yml
  .gitignore
  README.md
  pyproject.toml
  requirements/style.txt
Labels: dependencies, documentation, testing

update of jaccard loss
  torchseg/losses/_functional.py
  torchseg/losses/dice.py
  torchseg/losses/jaccard.py
Labels: losses

.github/labeler.yml:

# TorchSeg modules
base:
- changed-files:
  - any-glob-to-any-file: "torchseg/base/**"
encoders:
- changed-files:
  - any-glob-to-any-file: "torchseg/encoders/**"
decoders:
- changed-files:
  - any-glob-to-any-file: "torchseg/decoders/**"
losses:
- changed-files:
  - any-glob-to-any-file: "torchseg/losses/**"

# Other
dependencies:
- changed-files:
  - any-glob-to-any-file:
    - "pyproject.toml"
    - "requirements/**"
documentation:
- changed-files:
  - any-glob-to-any-file:
    - "docs/**"
    - "*.md"
    - ".github/*.md"
testing:
- changed-files:
  - any-glob-to-any-file:
    - "tests/**"
    - ".github/workflows/**"
